<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="row">

  <div class="col">
    <div class="card">
      <ul *ngFor="let board of boards">
        <div class="card-body">
          <div class="col-sm-6">
          <h6 class="card-text">{{board.name}}</h6>
          </div>
          <div class="col-sm-6">
          <h6 class="card-text">{{board.description}}</h6>
          </div>
          <div class="col-sm-6">
            <a [routerLink]="['/board',board.id]" class="btn btn-primary">Enter Board</a>
          </div>
          <div class="col-sm-6">
            <button (click)="deleteBoard()" class="btn btn-primary bg-danger" >Delete Board</button>
          </div>
        </div>
      </ul>
    </div>
  </div>
  <input #newName placeholder="Name of the Board" >
  <input #newDesc placeholder="Description" >
  <button (click)="addBoard(newName.value,newDesc.value)" class="btn btn-primary bg-info" >Create Board</button>
</div>
