<!DOCTYPE html>

<html>
    
    <body>

        <div style="text-align: center" class="exampleBoard">
          <h2>{{name | uppercase}} Board</h2>
          <span>Description: {{desc}}</span>
        </div>

        <div style="text-align: center">
            <label for="name">Name</label>
            <input type="text" class="board" id="name" [(ngModel)]="name" name="name">
        </div>

        <div style="text-align: center">
            <label for="desc">Short description</label>
            <input type="text" class="board" id="desc" [(ngModel)]="desc" name="desc">
        </div>
            
        <div style="text-align: center" class="btn-group-horizontal" role="group" aria-label="...">
            <button type="button" class="btn btn-default" (onClick)=addBoard(name.value,desc.value)>Save</button>
            <button type="button" class="btn btn-default" routerLink="/list">Create list</button>
            <button type="button" class="btn btn-default" routerLink="">Home</button>
        </div>
        
    </body>

</html>


