
  <section class="lists-container" >

        <div class="list"   *ngFor="let list of lists">
    
            <h3 class="list-title">{{list.name}}</h3>
            <app-list [listId]=list.id ></app-list>   
        </div>

    </section>

  
<div class="card-group">
        <div class="row">
        <div class="col">
            <input #newName class="form-control input-sm chat-input" placeholder="List Name..." />
            <button (click)="addCard(newName.value)" class="btn btn-primary">Add List</button>
        </div>
        <div class="col">
            <input #deleteName class="form-control input-sm chat-input" placeholder="List Name..." />
            <button (click)="deleteCard(deleteName.value)" class="btn btn-primary bg-danger" >Delete List</button>
        </div>
    </div>
</div>


