body,html {
    background-color: lightblue;
    margin: 0;
    height: 100%;
}
button{
    background-color: blanchedalmond;
}

.exampleBoard{
    background-color: rgb(202, 110, 49);
    height: 100%;
}
