<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container" ng-controller="RegisterScreenComponent">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>Register new user</h4>
            <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="New username" />
            <br>
            <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="New password" />
            <br>
            <div class="wrapper">
            <span class="btn-group-vertical">
                <button class="btn btn-primary btn-md"  (click)="register(userName,userPassword)">Register <i class="fa fa-sign-in"></i></button>
                <a class="btn btn-primary btn-md" routerLink="">Home <i class="fa fa-sign-in"></i></a>
            </span>
            </div>
            </div>
        
        </div>
    </div>
</div>